
@media screen and (max-width: 768px)
{body {padding-top: 0px;}}

body {
  font-family: sans-serif;
  background-color: #315481;
  /*background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #cde6f9),color-stop(1, #81a8cb));*/
  background-attachment: fixed;
  padding-top: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  /*padding: 0;*/
  margin: 0;

  font-size: 14px;
}

.bucketlist p {
  font-weight: bold;
}

.picture {
  height: 210px;
  width: 300px;

}

#github-link {

}

.cordova-logo {
  width: 300px;
  height: 150px;
}

.github-logo {
  width: 300px;
  height: 225px;
}

.mongo-logo {
  width: 300px;
  height: 100px;
}

.meteor-logo {
  width: 300px;
  height: 150px;
}

.react-logo {
  width: 300px;
  height: 100px;
}
/*.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}*/


header {
  /*background: #d2edf4;*/
  /*background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  /*background: white;*/
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li .list {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: solid black 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.login-box{
  border: 2px solid white;
  border-radius: 1em;
  width: 8em;
  height: 6em;
  float: left;
}

.text-container{
  width: 70%;
  color: white;
  margin: 5px;
  margin-left: 220px;
  /*background-color: white;*/
  padding: 10px;
  font-family: sans-serif;
  font-size: 1.5em;
}

.about{
  width: 70%;
  color: white;
  margin: 5px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 1.5em;
}
.columns {
   -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

button, .button {
    -moz-box-shadow:inset 0px 0px 14px -3px #f2fadc ;
    -webkit-box-shadow:inset 0px 0px 14px -3px #f2fadc ;
    box-shadow:inset 0px 0px 14px -3px #f2fadc ;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ebebeb ), color-stop(1, #8d8f8c ));
    background:-moz-linear-gradient(top, #ebebeb  5%, #8d8f8c  100%);
    background:-webkit-linear-gradient(top, #ebebeb  5%, #8d8f8c  100%);
    background:-o-linear-gradient(top, #ebebeb  5%, #8d8f8c  100%);
    background:-ms-linear-gradient(top, #ebebeb  5%, #8d8f8c  100%);
    background:linear-gradient(to bottom, #ebebeb  5%, #8d8f8c  100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb ', endColorstr='#8d8f8c ',GradientType=0);
    background-color:#ebebeb ;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #b5b5b5 ;
    display:inline-block;
    cursor:pointer;
    color:#757d6f ;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:3px 12px;
    margin: 5px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ced9bf ;
}.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8d8f8c ), color-stop(1, #ebebeb ));
    background:-moz-linear-gradient(top, #8d8f8c  5%, #ebebeb  100%);
    background:-webkit-linear-gradient(top, #8d8f8c  5%, #ebebeb  100%);
    background:-o-linear-gradient(top, #8d8f8c  5%, #ebebeb  100%);
    background:-ms-linear-gradient(top, #8d8f8c  5%, #ebebeb  100%);
    background:linear-gradient(to bottom, #8d8f8c  5%, #ebebeb  100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8d8f8c ', endColorstr='#ebebeb ',GradientType=0);
    background-color:#8d8f8c ;
}.myButton:active {
    position:relative;
    top:1px;
}






