
<head>
	<title>The Bucket List</title>
	<script type="text/jsx" src="./lander.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

<!-- <script src="js/bootstrap.min.js"></script> -->

</head>
<body>
  <div class="container-fluid">
  <div class="header nav row">
    <div id="render-navbar"></div>
    <!-- <div>class="col-xs-1 col-md-9"</div> -->
    <!-- <div class="col-xs-1 col-md-2 pull-right login-box btn " id="render-login"></div> -->
  </div>
</div>

<div id="wrap">
  <div class="row">
    <div id="render-home"></div>
  </div>

  <div class="row">
    <div class="" >
      <div class="col-xs-6" id="render-quad1"></div>
      <div class="col-xs-6" id="render-quad3"></div>
    </div>

    <div class="col-xs-12" >
      <!-- <div id="render-eventslist"></div> -->
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12" >
      <div id="render-quad2"></div>
    </div>

    <div class="" >
      <div id="render-quad4"></div>
    </div>
  </div>
</div>

<div>
  <div class="row">
    <div id="render-footer" class="col-xs-12">
    </div>
  </div>

</div>

</body>
